pipeline/PL_TRIIGER_TEST.json
{
	"name": "PL_TRIIGER_TEST",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-51.eastus.logic.azure.com:443/workflows/73a2774e140642879ed4c2d4158c3958/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=KII99fQCi9eEyHFgD_e9UgnRlkDUk6PCwNJLiACST1A",
					"method": "POST",
					"body": "{\n\n\"pipelineName\":\" @{pipeline().Pipeline}\"\n\n\"ErrorMessage\":\" @{activity('Copy data1').Error.Message}\"\n\n}"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableStaging": false
				}
			}
		],
		"annotations": []
	}
}